<div class="list-groups">
  {% for content in data[1] %}
    <div class="list-group col-md-3" title="{{ content.level }}">
      <table class="table-cv list-group-table">
        <tbody>
          <tr>
            {% if content.icon %}
              <td class="list-group-category-icon">
                <i class="{{ content.icon }}"></i>
              </td>
            {% else %}
              <td class="list-group-category-icon"></td>
            {% endif %}
            <!-- Calculate colspan number for category title -->
            {% assign i = 1 %}
            {% for item in content.items %}
              {% assign i = i | plus: 1 %}
            {% endfor %}
            <td colspan="{{ i }}" class="list-group-category">{{ content.name }}</td>
          </tr>
          {% for item in content.keywords %}
            <tr>
              <td></td>
              <td class="list-group-name">
                {% if item.url %}
                  <b><a href="{{ item.url }}" target="_blank">{{ item.name }}</a></b>
                {% elsif item contains '|' %}
                  {% assign parts = item | split: '|' %}
                  <b><a href="{{ parts[1] }}" target="_blank">{{ parts[0] }}</a></b>
                {% else %}
                  <b>{{ item }}</b>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endfor %}
</div>
